@font-face {
  font-family: JetBrainsMono;
  src: url(../fonts/JetBrainsMono-Bold.woff); }
img {
  max-width: 100%;
  height: auto; }

html {
  width: 100%;
  height: 100%; }

body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif; }

input::placeholder, textarea::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px; }

* {
  outline: none !important;
  transition: 0.4s ease; }
  *:focus {
    box-shadow: none !important; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, span {
  color: #253759; }

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px; }
  @media (max-width: 991.98px) {
    p {
      font-size: 12px; } }

h1 {
  font-weight: 300;
  font-size: 44px;
  line-height: 50px; }
  @media (max-width: 991.98px) {
    h1 {
      font-size: 28px;
      line-height: 32px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1000px; }

  .container-560 {
    max-width: 560px; }

  .container-310 {
    max-width: 310px; } }
button {
  transition: all 0.3s;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 15px;
  background-color: #1358A5;
  border-radius: 10px;
  border: none; }
  button:hover {
    cursor: pointer; }

.first, .five {
  position: relative; }
  .first a.logo-link, .five a.logo-link {
    color: #1358A5;
    font-family: JetBrainsMono;
    font-weight: bold;
    font-size: 22px; }
    @media (max-width: 440px) {
      .first a.logo-link, .five a.logo-link {
        font-size: 16px; } }
  .first .nav li a, .five .nav li a {
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: #82ADD4;
    padding: 12px 13px;
    margin-right: 30px; }
    @media (max-width: 440px) {
      .first .nav li a, .five .nav li a {
        margin-right: 10px; } }
    .first .nav li a:hover, .five .nav li a:hover {
      color: #1358A5; }
  .first .nav li a.active, .five .nav li a.active {
    color: #1358A5;
    border: 1px solid #82ADD4;
    box-sizing: border-box;
    border-radius: 6px; }
    .first .nav li a.active:hover, .five .nav li a.active:hover {
      background-color: #1358A5;
      color: #fff; }
  .first .elps-1, .five .elps-1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }
    @media (max-width: 1199px) {
      .first .elps-1, .five .elps-1 {
        top: -80px; } }

.second {
  margin-top: 60px; }
  @media (max-width: 991px) {
    .second {
      margin-top: 0; } }
  .second h1 {
    font-family: JetBrainsMono;
    font-weight: 800;
    font-size: 42px;
    line-height: 52px;
    color: #1358A5;
    position: relative; }
    @media (max-width: 1199px) {
      .second h1 {
        font-size: 38px; } }
    @media (max-width: 991px) {
      .second h1 {
        font-size: 28px; } }
    @media (max-width: 440px) {
      .second h1 {
        line-height: 40px; } }
    @media (max-width: 340px) {
      .second h1 {
        line-height: 28px; } }
    .second h1 .line-bg {
      position: absolute;
      bottom: -10%;
      left: -2%;
      z-index: -1;
      height: 43px;
      width: 100%;
      background: #EAF1F9;
      border-radius: 20px; }
      @media (max-width: 991px) {
        .second h1 .line-bg {
          display: none; } }
  .second p {
    font-family: Roboto;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: #82ADD4;
    margin-top: 50px;
    max-width: 540px; }
    @media (max-width: 440px) {
      .second p {
        margin-top: 35px; } }
    .second p b {
      color: #1358A5;
      text-decoration: underline; }
      .second p b:hover {
        cursor: pointer; }
  .second button {
    margin-top: 50px; }
    .second button:hover {
      background-color: #82ADD4; }
    @media (max-width: 440px) {
      .second button {
        width: 100%;
        margin-top: 30px; } }
  .second .social-wrap {
    max-width: 440px;
    margin-top: 55px; }
    .second .social-wrap .social-wrapper {
      margin-bottom: 30px; }
      @media (max-width: 440px) {
        .second .social-wrap .social-wrapper {
          margin-bottom: 8px; } }
      .second .social-wrap .social-wrapper span {
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 26px;
        color: #1358A5;
        text-transform: uppercase;
        margin-left: 30px; }
        .second .social-wrap .social-wrapper span:hover {
          cursor: pointer;
          color: #82ADD4; }
        @media (max-width: 991px) {
          .second .social-wrap .social-wrapper span {
            font-size: 16px; } }
        @media (max-width: 440px) {
          .second .social-wrap .social-wrapper span {
            font-size: 12px;
            margin-left: 16px; } }

.therth {
  margin-top: 300px; }
  @media (max-width: 440px) {
    .therth {
      margin-top: 10px; } }
  @media (max-width: 1900px) {
    .therth {
      margin-top: 150px; } }
  @media (max-width: 1650px) {
    .therth {
      margin-top: 0; } }
  .therth h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    font-family: JetBrainsMono;
    color: #1358A5; }
    @media (max-width: 440px) {
      .therth h2 {
        font-size: 20px;
        line-height: 28px; } }
  .therth .frequently {
    margin-top: 520px; }
    @media (max-width: 2000px) {
      .therth .frequently {
        margin-top: 320px; } }
    @media (max-width: 1650px) {
      .therth .frequently {
        margin-top: 250px; } }
    @media (max-width: 1450px) {
      .therth .frequently {
        margin-top: 170px; } }
    @media (max-width: 1250px) {
      .therth .frequently {
        margin-top: 130px; } }
    @media (max-width: 1199px) {
      .therth .frequently {
        margin-top: 100px; } }
    @media (max-width: 1090px) {
      .therth .frequently {
        margin-top: 70px; } }
    @media (max-width: 440px) {
      .therth .frequently {
        margin-top: 34px; } }
    .therth .frequently h2 {
      font-weight: 800;
      font-size: 42px;
      line-height: 48px;
      font-family: JetBrainsMono;
      color: #1358A5;
      text-transform: uppercase; }
      @media (max-width: 440px) {
        .therth .frequently h2 {
          font-size: 30px; } }
      @media (max-width: 340px) {
        .therth .frequently h2 {
          font-size: 23px;
          line-height: 35px; } }
  .therth .answers {
    margin-top: 45px; }
    @media (max-width: 440px) {
      .therth .answers {
        margin-top: 0; } }
    .therth .answers h3 {
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
      color: #82ADD4;
      text-transform: uppercase;
      margin-bottom: 40px; }
      @media (max-width: 440px) {
        .therth .answers h3 {
          font-size: 12px; } }
    .therth .answers h4, .therth .answers h5 {
      font-weight: 900;
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;
      color: #1358A5;
      margin-bottom: 0; }
    .therth .answers p {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #82ADD4; }
      @media (max-width: 440px) {
        .therth .answers p {
          font-weight: normal;
          font-size: 12px; } }
    .therth .answers h5 {
      font-size: 16px;
      line-height: 20px; }
    .therth .answers button {
      color: #1358A5;
      background: #FFFFFF;
      border: 1px solid #82ADD4;
      margin-left: 30px; }
      .therth .answers button:hover {
        background-color: #1358A5;
        color: #fff; }
      @media (max-width: 991px) {
        .therth .answers button {
          margin-left: 0;
          margin-top: 12px;
          width: 100%; } }

.four {
  margin-top: 80px;
  position: relative; }
  @media (min-width: 1500px) {
    .four {
      margin-top: 190px; } }
  @media (min-width: 1750px) {
    .four {
      margin-top: 230px; } }
  @media (max-width: 1199px) {
    .four {
      margin-top: 20px; } }
  .four .elipse-2 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0; }
    @media (max-width: 1199px) {
      .four .elipse-2 {
        top: 95px; } }
    @media (max-width: 440px) {
      .four .elipse-2 {
        top: 172px; } }
  .four .elipse-4 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 28px; }
    @media (max-width: 1199px) {
      .four .elipse-4 {
        display: none; } }
  .four .container-560 {
    margin-top: 135px; }
    @media (max-width: 1199px) {
      .four .container-560 {
        margin-top: 30px; } }
    @media (max-width: 440px) {
      .four .container-560 {
        margin-top: 0; } }
    .four .container-560 h2 {
      font-weight: 800;
      font-size: 42px;
      line-height: 48px;
      font-family: JetBrainsMono;
      color: #1358A5;
      position: relative; }
      @media (max-width: 440px) {
        .four .container-560 h2 {
          font-size: 30px; } }
      .four .container-560 h2::after {
        content: "";
        display: block;
        position: absolute;
        width: 316px;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        height: 43px;
        background: #EAF1F9;
        border-radius: 20px; }
        @media (max-width: 1199px) {
          .four .container-560 h2::after {
            display: none; } }
    .four .container-560 p {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #82ADD4;
      margin-top: 42px;
      margin-bottom: 36px; }
      @media (max-width: 440px) {
        .four .container-560 p {
          margin-top: 10px; } }
  .four .container-310 form input, .four .container-310 form textarea {
    background: #1358A5;
    border-radius: 10px;
    padding: 13px 18px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    margin-bottom: 25px; }
  .four .container-310 button {
    color: #1358A5;
    background: #FFFFFF;
    border: 1px solid #82ADD4;
    font-size: 12px;
    padding: 13px 23px; }
    .four .container-310 button:hover {
      background-color: #1358A5;
      color: #fff; }
    @media (max-width: 1199px) {
      .four .container-310 button {
        width: 100%; } }

.five {
  position: relative;
  margin-top: 114px; }
  @media (max-height: 440px) {
    .five {
      margin-top: 20px; } }
  @media (max-width: 768px) {
    .five {
      margin-top: 55px; } }
  @media (max-width: 340px) {
    .five .nav li a {
      padding: 12px 6px;
      margin-right: 0;
      margin-left: 10px; } }
  @media (max-width: 440px) {
    .five {
      margin-top: 24px; } }
  .five a.logo-link {
    font-size: 22px; }
    @media (max-width: 1250px) {
      .five a.logo-link {
        font-size: 18px; } }
    @media (max-width: 1199px) {
      .five a.logo-link {
        display: none; } }

footer {
  padding: 30px;
  background: #1358A5; }
  footer span {
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF; }

.bg-last {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0; }
  @media (max-width: 1250px) {
    .bg-last {
      width: 300px; } }
  @media (max-width: 991px) {
    .bg-last {
      width: 200px; } }
  @media (max-width: 440px) {
    .bg-last {
      width: 70px; } }

@media (max-width: 364px) {
  .displ-none-320 {
    display: none; } }

@media (max-width: 364px) {
  .col-px-0 {
    padding-left: 2px;
    padding-right: 2px; } }

.Scroll:hover {
  transform: rotate(180deg); }
@media (max-width: 1199px) {
  .Scroll {
    display: none; } }

body {
  position: relative; }
  body:after {
    content: "";
    background: url("../img/Group_4.svg") center center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2500px;
    width: 100%;
    z-index: -1; }
    @media (max-width: 1900px) {
      body:after {
        top: 50px;
        height: 2200px; } }
    @media (max-width: 1650px) {
      body:after {
        height: 1800px;
        top: 100px; } }
    @media (max-width: 1450px) {
      body:after {
        height: 1495px;
        top: 220px; } }
    @media (max-width: 991px) {
      body:after {
        height: 1600px;
        top: 200px;
        background: url("../img/Group_4.svg") center center no-repeat; } }

/*# sourceMappingURL=style.css.map */
