img {
  max-width: 100%;
  height: auto; }

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Hind Vadodara", Sans-Serif; }

body {
  overflow-x: hidden;
  background-color: #302D39;
  font-family: "Roboto", sans-serif;
  min-height: 100vh; }

body.lock {
  overflow: hidden; }

input::placeholder, textarea::placeholder {
  color: rgba(190, 189, 189, 0.7);
  font-size: 19px; }

button {
  transition: all 0.8s;
  color: #302D39;
  border: none;
  padding: 10px 63px;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  line-height: 24px; }

button:hover {
  cursor: pointer;
  background-color: #d9d9d9; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, span, a {
  color: white; }

h1 {
  font-weight: 900;
  color: white; }

.pl-10 {
  padding-left: 32px; }

.mt-10 {
  margin-top: 20px; }

.mt-form {
  margin-top: 29px; }

.username {
  margin-top: 65px; }

.sing_in {
  border: none;
  background: linear-gradient(177.34deg, #433F4D 2.71%, #302D39 96.87%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1rem; }
  .sing_in .card-body h6 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px; }
    .sing_in .card-body h6::before {
      content: "";
      display: inline-block;
      height: 44px;
      width: 5px;
      background-color: #fff;
      position: absolute;
      top: 25px;
      left: 0; }
  .sing_in .card-body form {
    padding: 5px; }
    .sing_in .card-body form input {
      background-color: transparent;
      border: 1px solid rgba(190, 189, 189, 0.2);
      border-radius: 3px;
      height: 43px;
      color: white; }
      .sing_in .card-body form input:focus {
        border: 2px solid white;
        outline: none !important; }
    .sing_in .card-body form .active {
      border: 1px solid white; }
    .sing_in .card-body form label {
      font-size: 19px;
      line-height: 43px;
      color: #FFFFFF;
      padding-bottom: 0; }
  .sing_in .card-body .footer-form {
    margin-top: 18px; }
    .sing_in .card-body .footer-form span {
      font-size: 20px;
      line-height: 24px;
      margin-left: 47px; }
    .sing_in .card-body .footer-form button {
      margin-left: 24px; }

.menu-vertical_line {
  border-right: 1px solid #2C2934;
  min-height: 100vh;
  max-width: 162px; }
  .menu-vertical_line h5 {
    font-size: 36px;
    margin: 0; }

.logo {
  z-index: 1000;
  position: relative; }

.dashboard .menu {
  padding-right: 12px;
  margin-top: 1rem;
  display: block;
  transition: ease 0.5s; }
  .dashboard .menu a {
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-family: Roboto;
    transition: ease 0.6s;
    margin-top: 30px; }
    .dashboard .menu a:hover {
      color: silver; }
  .dashboard .menu a .active {
    height: 20px; }
.dashboard .active {
  display: block;
  transition: ease 0.5s; }
.dashboard .btn-open {
  margin-top: 2rem;
  position: relative;
  width: 40px;
  height: 20px;
  display: block;
  cursor: pointer;
  z-index: 900; }
  .dashboard .btn-open:before, .dashboard .btn-open:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s; }
  .dashboard .btn-open:before {
    top: 0; }
  .dashboard .btn-open:after {
    bottom: 0; }
  .dashboard .btn-open span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 14px;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0; }
.dashboard .btn-open.active:before {
  transform: rotate(45deg);
  top: 9px; }
.dashboard .btn-open.active:after {
  transform: rotate(-45deg);
  bottom: 9px; }
.dashboard .btn-open.active span {
  transform: scale(0); }
.dashboard .dash-content .find {
  border-bottom: 1px solid #2C2934;
  padding: 1rem; }
  .dashboard .dash-content .find span a img {
    transition: ease 0.4s; }
    .dashboard .dash-content .find span a img:hover {
      opacity: 0.5; }
  .dashboard .dash-content .find input {
    background-color: #2C2934;
    border-radius: 5px;
    padding-left: 1rem;
    border: none;
    height: 30px;
    margin-left: 1rem;
    color: white;
    font-size: 16px; }
    .dashboard .dash-content .find input:focus {
      outline: none !important; }
.dashboard .dash-content .online-bots {
  padding-left: 1rem;
  margin-top: 2rem;
  color: white; }
  .dashboard .dash-content .online-bots .example {
    font-size: 18px; }
  .dashboard .dash-content .online-bots h3 {
    font-size: 35px;
    font-weight: 400; }
  .dashboard .dash-content .online-bots .card {
    border: none;
    background: linear-gradient(177.34deg, #433F4D 2.71%, #302D39 96.87%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px; }
    .dashboard .dash-content .online-bots .card .card-body {
      padding: 10px; }
      .dashboard .dash-content .online-bots .card .card-body h6 {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px; }
        .dashboard .dash-content .online-bots .card .card-body h6::before {
          content: "";
          display: inline-block;
          height: 44px;
          width: 5px;
          background-color: #fff;
          position: absolute;
          top: 10px;
          left: 0; }
      .dashboard .dash-content .online-bots .card .card-body .table_list {
        margin-top: 2rem; }
        .dashboard .dash-content .online-bots .card .card-body .table_list h5 {
          font-weight: 500;
          font-size: 16px;
          margin: 0; }
      .dashboard .dash-content .online-bots .card .card-body .mini-card {
        margin-top: 1rem; }
        .dashboard .dash-content .online-bots .card .card-body .mini-card a {
          font-size: 16px;
          transition: ease 0.6s; }
          .dashboard .dash-content .online-bots .card .card-body .mini-card a:hover {
            color: silver; }
        .dashboard .dash-content .online-bots .card .card-body .mini-card .overflow-hidden {
          padding: 4px 10px;
          border-radius: 2px;
          border: 1px solid #87858B;
          white-space: nowrap;
          text-overflow: ellipsis;
          transition: ease 0.6s; }
        .dashboard .dash-content .online-bots .card .card-body .mini-card small {
          border: 1px solid #0095E8;
          box-sizing: border-box;
          border-radius: 2px;
          font-size: 12px;
          line-height: 12px;
          text-align: center;
          color: #0095E8;
          padding: 2px 5px; }
        .dashboard .dash-content .online-bots .card .card-body .mini-card .online {
          border: 1px solid #FF6A00;
          color: #FF9244; }
        .dashboard .dash-content .online-bots .card .card-body .mini-card span {
          line-height: 34px;
          transition: ease 0.4s; }
        .dashboard .dash-content .online-bots .card .card-body .mini-card .span-hover-link:hover {
          cursor: pointer;
          color: silver; }

.modal .modal-lg .modal-content {
  background-color: #403C4A;
  padding: 0;
  box-shadow: 0px 6px 27px rgba(35, 35, 35, 0.378227); }
  .modal .modal-lg .modal-content .modal-header {
    border: none;
    margin-top: 1rem; }
    .modal .modal-lg .modal-content .modal-header h5 {
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      margin-left: 1rem; }
      .modal .modal-lg .modal-content .modal-header h5::before {
        content: "";
        display: inline-block;
        height: 40px;
        width: 5px;
        background-color: #2AC5A9;
        position: absolute;
        top: 22px;
        left: 0; }
    .modal .modal-lg .modal-content .modal-header button:hover {
      background-color: transparent; }
  .modal .modal-lg .modal-content .modal-body .nav-tabs {
    border-bottom: none; }
    .modal .modal-lg .modal-content .modal-body .nav-tabs .nav-item {
      border: none; }
      .modal .modal-lg .modal-content .modal-body .nav-tabs .nav-item .nav-link {
        color: #706C77;
        font-size: 16px;
        line-height: 24px;
        transition: ease 0.3s;
        font-weight: 400;
        border: none;
        padding: 8px 20px; }
        .modal .modal-lg .modal-content .modal-body .nav-tabs .nav-item .nav-link:hover {
          color: white;
          font-weight: 400; }
      .modal .modal-lg .modal-content .modal-body .nav-tabs .nav-item .active {
        border: none;
        background-color: #322F3A;
        color: white; }
  .modal .modal-lg .modal-content .modal-body .tab-content {
    background-color: #322F3A;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    color: white; }
    .modal .modal-lg .modal-content .modal-body .tab-content .system-info h6 {
      margin: 0;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px; }
    .modal .modal-lg .modal-content .modal-body .tab-content .system-info span {
      font-size: 16px;
      line-height: 24px; }

#my-select {
  padding: 8px;
  margin-bottom: 10px;
  background: #322F3A;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 16px; }

hr {
  margin: 14px 0;
  height: 1px;
  background-color: #514E59; }

.display_none {
  visibility: hidden; }

@media (max-width: 1199px) {
  .pl-10 {
    padding-left: 0; }

  .dashboard .dash-content .online-bots .card .card-body .mini-card span {
    font-size: 16px; }
    .dashboard .dash-content .online-bots .card .card-body .mini-card span a {
      font-size: 16px; } }
@media (min-width: 992px) {
  .modal-lg {
    max-width: 963px; } }
@media (max-width: 991px) {
  body.lock {
    height: 100vh; }

  .logo img {
    max-height: 48px; }

  #btn-open {
    margin-top: 0;
    padding: 0; }

  .menu-vertical_line {
    max-width: 100%; }

  .dashboard .menu-wrap .menu {
    display: none;
    margin-top: 0; }
    .dashboard .menu-wrap .menu a {
      font-size: 22px;
      margin-top: 0;
      margin-bottom: 15px; }
      .dashboard .menu-wrap .menu a img {
        display: none; }
  .dashboard .menu-wrap .active_menu {
    display: flex;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background-color: #302D39; }
    .dashboard .menu-wrap .active_menu .nav {
      text-align: center;
      width: 100%; }
      .dashboard .menu-wrap .active_menu .nav a {
        font-size: 26px;
        line-height: 24px;
        letter-spacing: 1px; }
  .dashboard .dash-content {
    padding: 0 24px !important; }
    .dashboard .dash-content .tab-content {
      background-color: linear-gradient(177.34deg, #433F4D 96.87%, #302D39 2.71%); }
    .dashboard .dash-content .online-bots {
      padding-left: 0; }
      .dashboard .dash-content .online-bots h3 {
        font-size: 32px; }
      .dashboard .dash-content .online-bots .card {
        padding: 16px; }
        .dashboard .dash-content .online-bots .card .card-body {
          padding: 0; }
          .dashboard .dash-content .online-bots .card .card-body h6::before {
            top: 8px;
            height: 38px;
            width: 4px; }
          .dashboard .dash-content .online-bots .card .card-body .mini-card {
            border: 1px solid #595561;
            border-radius: 8px;
            padding: 20px;
            margin-top: 1rem;
            background-color: #423D4C; }
            .dashboard .dash-content .online-bots .card .card-body .mini-card h5 {
              font-size: 14px;
              line-height: 34px;
              margin-bottom: 0; }
            .dashboard .dash-content .online-bots .card .card-body .mini-card span {
              font-size: 14px;
              color: white;
              padding: 0; }
            .dashboard .dash-content .online-bots .card .card-body .mini-card a {
              font-size: 14px;
              line-height: 14px;
              text-align: center;
              color: white; }
            .dashboard .dash-content .online-bots .card .card-body .mini-card .text-underline {
              text-decoration: underline; }

  .menu-vertical_line {
    min-height: 1px; } }
@media (max-width: 768px) {
  .pl-10 {
    padding-right: 0; }

  .username {
    margin-top: 30px; }
    .username .card .card-body form label {
      padding-left: 0;
      line-height: 30px; }
    .username .card .card-body .footer-form span {
      padding-right: 0; } }
@media (max-width: 767px) {
  .username .card .card-body .footer-form span {
    margin-top: 1rem;
    margin-left: 0; } }
@media (max-width: 576px) {
  .menu-vertical_line h5 {
    font-size: 28px; }

  .dashboard .dash-content {
    padding: 16px !important; }
    .dashboard .dash-content .online-bots {
      padding-left: 0; }
      .dashboard .dash-content .online-bots h5 {
        font-size: 16px; }
  .dashboard .menu-wrap {
    padding: 0; }
    .dashboard .menu-wrap .active_menu {
      min-height: 90vh; }
      .dashboard .menu-wrap .active_menu .nav a {
        font-size: 26px;
        line-height: 24px;
        margin-bottom: 10px; }

  .menu-vertical_line h5 {
    font-size: 24px; }

  .modal .modal-dialog .modal-content .modal-body {
    padding: 0; }
    .modal .modal-dialog .modal-content .modal-body .tab-content .system-info .log_tracker {
      margin-top: 16px; }
      .modal .modal-dialog .modal-content .modal-body .tab-content .system-info .log_tracker span {
        font-size: 13px;
        line-height: 24px; } }
@media (max-width: 440px) {
  .dashboard .menu-wrap .active_menu .nav a {
    margin-bottom: 40px; } }
@media (max-width: 375px) {
  .username .card {
    padding: 0.5rem; } }

/*# sourceMappingURL=style.css.map */
