@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap");
@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova/ProximaNova-Reg.otf); }
@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova/ProximaNova-Bold.otf);
  font-weight: bold; }
* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

html {
  width: 100%;
  overflow-x: hidden; }

body {
  min-height: 100vh;
  font-family: "ProximaNova";
  color: #333333;
  width: 100%;
  overflow-x: hidden; }

button:focus, input:focus, a:focus, textarea:focus {
  outline: none; }

button, a {
  transition: all 0.3s; }

h1, h2, h3, h4, h5, h6 {
  color: #333333; }

p {
  font-size: 16px;
  font-weight: 300;
  color: #333333; }

a:hover {
  text-decoration: none; }

button {
  border: solid 1px #000000;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.12px;
  color: #333333;
  padding: 18px 30px;
  text-transform: uppercase;
  background-color: transparent; }
  button:hover {
    background-color: #000000;
    color: #ffffff; }

h1 {
  font-size: 44px;
  font-weight: 600; }

h2 {
  font-size: 28px;
  color: #ff5b97;
  font-family: Marck Script; }

h3 {
  font-size: 34px;
  font-weight: 600; }

.first {
  position: relative;
  bottom: 50px; }

.title h1 {
  margin-top: 3rem; }
.title h2 {
  margin-top: 20px; }
.title h3 {
  margin-top: 3rem; }
.title p {
  margin-top: 20px; }
.title button {
  margin-top: 20px; }

.navigation {
  height: 50px;
  position: relative;
  bottom: -50px;
  z-index: 2; }
  .navigation .navbar a img {
    max-height: 26px;
    padding-right: 1rem; }
  .navigation .navbar a span {
    font-size: 20px;
    font-weight: 500;
    color: #ff4d87; }
  .navigation .navbar .ul-wrap ul li {
    padding-left: 6rem; }
    .navigation .navbar .ul-wrap ul li a {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      color: #333333; }
    .navigation .navbar .ul-wrap ul li .active {
      font-weight: 600;
      color: #ff5b97; }

.second, .third {
  position: relative;
  bottom: 50px; }

.four .card {
  padding: 2rem;
  border: none; }
  .four .card .card-title i {
    font-size: 40px;
    color: #ff5b97; }
  .four .card .card-body h5 {
    font-weight: 600;
    font-size: 15px; }
  .four .card .card-body p {
    font-size: 15px;
    font-weight: 300; }
.four h5 {
  font-weight: 600;
  font-size: 15px; }
.four p {
  font-size: 15px;
  font-weight: 300; }
.four i {
  font-size: 34px;
  color: #ff5b97; }

.five h3 {
  font-size: 29px; }
.five p {
  font-size: 18px;
  margin-top: 55px;
  padding-bottom: 55px; }
.five form input {
  border: none;
  border-bottom: 1px solid #868686;
  border-radius: 0;
  outline: none; }
.five .custom-file {
  position: relative; }
  .five .custom-file label {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.12px;
    color: #868686;
    padding-left: 0.5rem;
    position: absolute;
    top: 0;
    left: 0; }
    .five .custom-file label i {
      color: #dddddd;
      font-size: 15px; }
.five button {
  background-color: #ff5b97;
  border: none;
  color: #fff;
  margin-top: 1rem; }
  .five button:hover {
    background-color: #ff2877; }

input::placeholder {
  color: #868686;
  font-size: 12px;
  font-weight: 300; }

@media screen and (max-width: 1199px) {
  .title h2, .title p, .title button {
    margin-top: 16px; }
  .title h1 {
    font-size: 38px; }

  .navigation .navbar .ul-wrap ul li {
    padding-left: 4rem; } }
@media screen and (max-width: 1024px) {
  .five h3 {
    font-size: 30px; }
  .five p {
    margin-top: 22px;
    padding-bottom: 10px;
    font-size: 14px; }
  .five button {
    margin-top: 1rem;
    width: 100%; } }
@media screen and (max-width: 991px) {
  .title h1 {
    font-size: 28px;
    margin-top: 3rem; }
  .title h3 {
    font-size: 26px;
    margin-top: 1rem; }
  .title button {
    padding: 10px; }
  .title h2, .title p, .title button {
    margin-top: 10px; }

  .navigation .navbar .ul-wrap {
    margin-top: 1rem;
    background-color: #ff5b97;
    transition: 0.6s;
    opacity: 0.9; }
    .navigation .navbar .ul-wrap ul li {
      padding: 0.3rem 1rem;
      font-size: 14px;
      text-align: right; }
      .navigation .navbar .ul-wrap ul li a {
        color: #ffffff; }
      .navigation .navbar .ul-wrap ul li .active {
        color: #000000; }

  .five h3 {
    font-size: 20px; }
  .five p {
    margin-top: 12px;
    padding-bottom: 0;
    font-size: 14px; }
  .five button {
    margin-top: 0; } }
@media screen and (max-width: 768px) {
  .title h2 {
    font-size: 22px; } }
@media screen and (max-width: 767px) {
  .title h1 {
    margin-top: 6rem; }
  .title .img_1 img {
    margin-top: 3rem; }
  .title .img_2 img {
    margin-top: 0; }

  .third .title .img_3 img {
    margin-top: 2rem; }

  .five img {
    margin-top: 4rem; } }
@media screen and (max-width: 575px) {
  .title .text {
    margin-left: 1rem; }
  .title h2, .title p, .title button {
    margin-top: 28px; }

  .third .title .text {
    padding-top: 2rem; }
  .third .title .img_3 img {
    margin-top: 2rem; }

  .four .card {
    padding: 1rem; } }
@media screen and (max-width: 320px) {
  .title p br {
    display: none; } }

/*# sourceMappingURL=style.css.map */
